@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1; 
  background: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(93, 144, 238, 0.15),
    transparent 30%
  );
}

body::after {
  content: '';
  position: fixed;
  inset: -100px;
  z-index: -2;
  animation: drift-aurora 30s ease-in-out infinite;
}

/*MODO OSCURO*/
.dark body::before {
  background: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(99, 101, 241, 0.13),
    transparent 45%
  );
}

.dark body::after {
  background: radial-gradient(
    1200px circle at 50% 50%,
    rgba(169, 85, 247, 0.178),
    transparent 40%
  );
}


@keyframes drift-aurora {
  0% {
    transform: translate(20%, -20%) rotate(0deg);
  }
  25% {
    transform: translate(-20%, 20%) rotate(90deg);
  }
  50% {
    transform: translate(20%, 20%) rotate(180deg);
  }
  75% {
    transform: translate(-20%, -20%) rotate(270deg);
  }
  100% {
    transform: translate(20%, -20%) rotate(360deg);
  }
}